/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100% !important;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* main */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #224561;
    position: relative;
}

p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

.container {
    padding: 5% 10% 20px 10%;
}

h1 {
    font-family: 'Georama', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    color: #4151D8;
}

.main {
    margin-top: 75px;
    max-width: 900px;
}

.btn-contact {
    display: inline-block;
    background: none;
    color: #4151D8;
    text-align: center;
    border: 1px solid #4151D8;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 26px;
    margin-top: 35px;
    text-decoration: none;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}

.btn-contact:hover {
    background: #4151D8;
    color: #ffffff;
}

.logo,
.logo-mobile {
    background-image: url('logo.svg');
    background-size: 100% auto;
}

.logo {
    width: 280px;
    height: 78px;
    display: block;
    margin-top: 200px;
}

.logo-mobile {
    width: 160px;
    height: 45px;
    display: none;
}

.bg-video {
    width: 100vw;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

video {
    -webkit-filter: brightness(101%);
}

video::-webkit-media-controls {
    display: none;
}

@media (min-height: 900px) {
    h1 {
        font-size: 54px;
    }

    p {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 25px;
    }

    .logo {
        width: 325px;
        height: 91px;
        margin-top: 13%;
    }

    .btn-contact {
        padding: 20px 35px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 50px 60px 20px;
        margin: 0 auto;
    }

    p {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .btn-contact {
        padding: 15px 30px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 40px 45px;
    }

    h1 {
        font-size: 30px;
        margin-top: 95px;
        max-width: 130px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .main {
        margin-top: 30px;
    }

    .btn-contact {
        padding: 12px 20px;
        font-size: 15px;
        margin-top: 20px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .bg-video {
        width: 150vw;
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) {
    .container {
        padding: 55px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        width: 190px;
        height: 53px;
        display: block;
    }

    .main {
        margin-top: 55px;
    }

    h1 {
        font-size: 38px;
        line-height: 42px;
        margin-top: 125px;
        max-width: 170px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .btn-contact {
        margin-top: 35px;
        font-size: 17px;
        padding: 14px 30px;
    }
}

@media only screen and (device-width: 744px) and (device-height: 1133px) {
    .container {
        padding: 85px 65px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        width: 300px;
        height: 84px;
        display: block;
    }

    .main {
        margin-top: 82px;
    }

    h1 {
        font-size: 54px;
        margin-top: 180px;
    }

    p {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .btn-contact {
        padding: 20px 35px;
        margin-top: 55px;
    }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
    .container {
        padding: 85px 65px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        width: 300px;
        height: 84px;
        display: block;
    }

    .main {
        margin-top: 82px;
    }

    h1 {
        font-size: 54px;
        margin-top: 105px;
    }

    p {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .btn-contact {
        padding: 20px 35px;
        margin-top: 55px;
    }
}

@media only screen and (device-width: 360px) and (device-height: 640px) {
    .container {
        padding: 47px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 175px;
        height: 49px;
    }

    h1 {
        font-size: 32px;
        line-height: 36px;
        margin-top: 100px;
        max-width: 150px;
    }

    p {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    .btn-contact {
        font-size: 17px;
        padding: 13px 22px;
        margin-top: 30px;
    }
}

@media only screen and (device-width: 360px) and (device-height: 800px) {
    .container {
        padding: 50px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 185px;
        height: 52px;
    }

    .main {
        margin-top: 55px;
    }

    h1 {
        font-size: 36px;
        line-height: 40px;
        margin-top: 125px;
        max-width: 175px;
    }

    p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .btn-contact {
        font-size: 18px;
        padding: 13px 22px;
        margin-top: 40px;
    }
}